
Screenshots/FAILED/CheckboxTestingBaba_test02.jpeg
Screenshots/FAILED/CheckboxTestingBaba_test03.jpeg
Screenshots/FAILED/FlipkartLoginInvalidCred_Test01.jpeg
Screenshots/FAILED/FlipkartProfileChange_Test02.jpeg
Screenshots/FAILED/MakemyTripSendINValidNumber_Test02.jpeg
Screenshots/FAILED/MakemyTripSendValidNumber_Test01.jpeg
Screenshots/FAILED/WebTablesTestingBaba_test01.jpeg
Screenshots/FAILED/RadioButtonTestingBaba_test01.jpeg
/target/
