<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Testingbaba</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ad79b">  <td>22/03/19 20:50:59</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Baselibrary.Teardown()[pri:0, instance:testingbaba.Testingbaba_webtables_test@44b3606b]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1136005694</td>   <td></td> </tr>
<tr bgcolor="a566f1">  <td>22/03/19 20:50:55</td>   <td>-3958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testingbaba_webtables_test.WebTablesTestingBaba_test01()[pri:0, instance:testingbaba.Testingbaba_webtables_test@44b3606b]">WebTablesTestingBaba_test01</td> 
  <td>main@1136005694</td>   <td></td> </tr>
<tr bgcolor="8ad79b">  <td>22/03/19 20:50:59</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Baselibrary.analysis(org.testng.ITestResult)[pri:0, instance:testingbaba.Testingbaba_webtables_test@44b3606b]">&lt;&lt;analysis</td> 
<td>&nbsp;</td>  <td>main@1136005694</td>   <td></td> </tr>
<tr bgcolor="a566f1">  <td>22/03/19 20:50:49</td>   <td>-10809</td> <td>&nbsp;</td><td title="&gt;&gt;Testingbaba_webtables_test.launchtestingbaba()[pri:0, instance:testingbaba.Testingbaba_webtables_test@44b3606b]">&gt;&gt;launchtestingbaba</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1136005694</td>   <td></td> </tr>
</table>
