<h2>Reporter output</h2><table><tr><td>About to begin executing Class Single_Test</td></tr>
<tr><td>Testcase WebTablesTestingBaba_test01 started successfully</td></tr>
<tr><td>Testcase WebTablesTestingBaba_test01 passed successfully</td></tr>
</table>